---
import Pill from "@/components/Pill.astro";

import IconAstro from "@/icons/IconAstro.astro";
import IconHTML from "@/icons/IconHTML.astro";
import IconCSS from "@/icons/IconCSS.astro";
import IconSASS from "@/icons/IconSASS.astro";
import IconJavaScript from "@/icons/IconJavaScript.astro";
import IconTypeScript from "@/icons/IconTypeScript.astro";
import IconBootstrap from "@/icons/IconBootstrap.astro";
import IconGithubRepo from "@/icons/IconGithubRepo.astro";
import IconLink from "@/icons/IconLink.astro";

const TAGS = {
  ASTRO: {
    name: "Astro",
    icon: IconAstro,
  },
  HTML: {
    name: "HTML",
    icon: IconHTML,
  },
  CSS: {
    name: "CSS",
    icon: IconCSS,
  },
  SASS: {
    name: "SASS",
    icon: IconSASS,
  },
  JAVASCRIPT: {
    name: "JavaScript",
    icon: IconJavaScript,
  },
  TYPESCRIPT: {
    name: "TypeScript",
    icon: IconTypeScript,
  },
  BOOTSTRAP: {
    name: "Bootstrap",
    icon: IconBootstrap,
  },
};

const FRONTEND_WORKS = [
  {
    position: "Desarrollo web",
    company: "Atlántida Diving School",
    date: "[01.2024 - 04.2024]",
    description: `<span class="text-emphasis">Refactorización del sitio.</span> La primera versión la realicé de manera autodidacta en el año 2019 utilizando HTML, CSS, JavaScript y PHP.<br /> En esta ocasión, me concentré en optimizar el rendimiento, semántica, accesibilidad y SEO.`,
    descriptionImg: "/img/mockups/atlantida-diving-school-lighthouse.webp",
    descriptionImgAlt: "Resultado de la evaluación de Lighthouse en Chrome",
    tags: [TAGS.ASTRO, TAGS.HTML, TAGS.CSS, TAGS.SASS, TAGS.JAVASCRIPT, TAGS.TYPESCRIPT],
    thumbnail: "/img/mockups/atlantida-diving-school.webp",
    thumbnailAlt: "Captura de pantalla de la web de Atlántida Diving School",
    repository: "https://github.com/ignacioFernandezJeansalle/web-atlantida-diving-school",
    deploy: "https://www.divingschool.com.ar/",
  },
  {
    position: "Desarrollo web",
    company: "Sobrenatural Nutrición",
    date: "[12.2022 - 01.2023]",
    description: `<span class="text-emphasis">Premio por TOP 10 en el curso de Desarrollo web de Coderhouse.</span> Realizamos el proyecto en equipo junto a alumnos de otros cursos de PM y UX/UI.`,
    descriptionImg: "",
    descriptionImgAlt: "",
    tags: [TAGS.HTML, TAGS.CSS, TAGS.SASS, TAGS.BOOTSTRAP, TAGS.JAVASCRIPT],
    thumbnail: "/img/mockups/sobrenatural-nutricion.webp",
    thumbnailAlt: "Captura de pantalla de la web de Sobrenatural Nutrición",
    repository: "https://github.com/ignacioFernandezJeansalle/web-sobrenatural",
    deploy: "https://ignaciofernandezjeansalle.github.io/web-sobrenatural/",
  },
];
---

{
  FRONTEND_WORKS.map(
    ({
      position,
      company,
      date,
      description,
      descriptionImg,
      descriptionImgAlt,
      tags,
      thumbnail,
      thumbnailAlt,
      repository,
      deploy,
    }) => (
      <article class="mt-10 flex flex-col md:flex-row gap-6 p-4 sm:p-6 bg-slate-200 rounded">
        <div class="flex flex-col">
          <h3 class="text-6xl text-cblue-700 font-light mb-6 uppercase">{position}</h3>
          <h4 class="text-sm w-fit rounded px-2 py-1 bg-slate-50 font-medium mb-2">{company}</h4>
          <span class="text-sm border-b border-slate-400 pb-4">{date}</span>
          <p class="pt-2 mb-6" set:html={description} />
          {descriptionImg && (
            <img
              class="w-[160px] sm:w-[200px] h-auto aspect-[360/160] rounded mb-10"
              src={descriptionImg}
              alt={descriptionImgAlt}
            />
          )}
          <ul class="flex flex-wrap gap-2">
            {tags.map((tag) => (
              <li class="flex gap-2 items-center px-3 py-1 bg-slate-300 rounded-full sm:text-sm">
                <tag.icon class="w-3 h-auto" /> {tag.name}
              </li>
            ))}
          </ul>
        </div>

        <div class="flex-shrink-0">
          <img
            class="w-full md:w-[320px] min-[850px]:w-[400px] lg:w-[500px] h-auto aspect-video rounded"
            src={thumbnail}
            alt={thumbnailAlt}
          />
          <nav class="flex flex-wrap justify-end gap-4 mt-8">
            <Pill href={repository} ariaLabel="Ir al repositorio de GitHub" class="btn-secondary">
              <IconGithubRepo class="size-4" />
              <span>Repositorio</span>
            </Pill>
            <Pill href={deploy} ariaLabel="Visitar la web" class="btn-secondary">
              <IconLink class="size-4" />
              <span>Web</span>
            </Pill>
          </nav>
        </div>
      </article>
    )
  )
}
