---
const { id, class: classInput, type, href, ariaLabel } = Astro.props;
const className = `p-4 sm:p-6 flex w-fit items-center justify-center rounded hover:scale-105 ${classInput ? classInput : ""}`;
---

{
  type === "button" ? (
    <button id={id} aria-label={ariaLabel} class={className}>
      <slot />
    </button>
  ) : (
    <a id={id} href={href} target="_blank" aria-label={ariaLabel} rel="noopener" class={className}>
      <slot />
    </a>
  )
}
