---
import Section from "@/components/Section.astro";
import ExperienceInd from "@/components/ExperienceInd.astro";
import Pill from "@/components/Pill.astro";

import IconExperience from "@/icons/IconExperience.astro";
import IconExperienceInd from "@/icons/IconExperienceInd.astro";
import IconAstro from "@/icons/IconAstro.astro";
import IconHTML from "@/icons/IconHTML.astro";
import IconCSS from "@/icons/IconCSS.astro";
import IconSASS from "@/icons/IconSASS.astro";
import IconJavaScript from "@/icons/IconJavaScript.astro";
import IconTypeScript from "@/icons/IconTypeScript.astro";
import IconGithubRepo from "@/icons/IconGithubRepo.astro";
import IconLink from "@/icons/IconLink.astro";
import IconBootstrap from "@/icons/IconBootstrap.astro";

const TAGS = {
  ASTRO: {
    name: "Astro",
    icon: IconAstro,
  },
  HTML: {
    name: "HTML",
    icon: IconHTML,
  },
  CSS: {
    name: "CSS",
    icon: IconCSS,
  },
  SASS: {
    name: "SASS",
    icon: IconSASS,
  },
  JAVASCRIPT: {
    name: "JavaScript",
    icon: IconJavaScript,
  },
  TYPESCRIPT: {
    name: "TypeScript",
    icon: IconTypeScript,
  },
  BOOTSTRAP: {
    name: "Bootstrap",
    icon: IconBootstrap,
  },
};

const FRONTEND_WORKS = [
  {
    position: "Desarrollo web freelance",
    company: "Atlántida Diving School",
    date: "[01.2024 - 04.2024]",
    description: `<span class="font-semibold">Refactorización del sitio.</span> La primera versión la realicé de manera autodidacta en el año 2019 utilizando HTML, CSS, JavaScript y PHP.<br /> En esta ocasión, me concentré en mejorar el rendimiento, semántica HTML, accesibilidad y SEO.`,
    descriptionImg: "/img/mockups/atlantida-diving-school-lighthouse.webp",
    descriptionImgAlt: "Resultado de la evaluación de Lighthouse en Chrome",
    tags: [TAGS.ASTRO, TAGS.HTML, TAGS.CSS, TAGS.SASS, TAGS.JAVASCRIPT, TAGS.TYPESCRIPT],
    thumbnail: "/img/mockups/atlantida-diving-school.webp",
    repository: "https://github.com/ignacioFernandezJeansalle/web-atlantida-diving-school",
    deploy: "https://www.divingschool.com.ar/",
  },
  {
    position: "Desarrollo web freelance",
    company: "Sobrenatural Nutrición",
    date: "[12.2022 - 01.2023]",
    description: `<span class="font-semibold">Premio por TOP 10 en el curso de Desarrollo web de Coderhouse.</span> Realizamos el proyecto en equipo junto a alumnos de otros cursos de PM y UX/UI.`,
    descriptionImg: "",
    descriptionImgAlt: "",
    tags: [TAGS.HTML, TAGS.CSS, TAGS.SASS, TAGS.BOOTSTRAP, TAGS.JAVASCRIPT],
    thumbnail: "/img/mockups/sobrenatural-nutricion.webp",
    repository: "https://github.com/ignacioFernandezJeansalle/web-sobrenatural",
    deploy: "https://ignaciofernandezjeansalle.github.io/web-sobrenatural/",
  },
];

const INDUSTRIAL_WORKS = [
  {
    position: "Ingeniero especialista",
    company: "Siemens Mobility S.A.",
    date: "[01.2023 - Presente]",
    tasks: [
      "Desarrollo de software de PLC y desarrollo UX/UI en SCADA para operación ferroviaria.",
      "Desarrollé un software estandarizado llave en mano multiplataforma.",
      "Elaboración de protocolos y ensayos del sistema.",
      "Stack tecnológico: Siemens, Schneider Electric.",
    ],
  },
  {
    position: "Jefe de automatización",
    company: "Prodigyo S.R.L.",
    date: "[10.2021 - 12.2022]",
    tasks: [
      "Gestión del departamento de programación.",
      "Personas a cargo: 6.",
      "Desarrollé indicadores del sector apoyado en el sistema de gestión Velneo.",
    ],
  },
  {
    position: "Líder de proyectos",
    company: "Trend Ingeniería S.R.L.",
    date: "[08.2012 - 09.2021]",
    tasks: [
      "Líder técnico en proyectos de sistemas de automatización industrial.",
      "Personas a cargo según proyecto, entre 2 y 6.",
      "Elaboré y desarrollé protocolos de ensayos obteniendo casos de éxito de impacto en puesta en producción de 0hs.",
    ],
  },
  {
    position: "Programador Senior",
    company: "Trend Ingeniería S.R.L.",
    date: "[08.2012 a 03.2017]",
    tasks: [
      "Desarrollo de soluciones y software de PLC, desarrollo UX/UI en HMI/SCADA industriales.",
      "Supervisión de montaje, conexionado eléctrico y puesta en marcha de líneas de producción.",
      "Elaboré librerías de componentes de PLC.",
      "Stack tecnológico: Schneider Electric, Rockwell Automation, Siemens.",
      "Elaboré el estándar de programación del sector e impartí talleres de buenas prácticas de programación internos y a clientes.",
      "Elaboré el procedimiento del sector y se certificó conforme a las normativas ISO9001.",
    ],
  },
  {
    position: "Programador SemiSenior",
    company: "C-Net S.R.L.",
    date: "[09.2009 - 06.2011]",
    tasks: [
      "Desarrollo de software de PLC y desarrollo UX/UI en HMI para Tenaris Siderca, Techint.",
      "Stack tecnológico: Schneider Electric, Delphi.",
      "Participé en la elaboración del estándar de programación de PLC.",
      "Desarrollé el algoritmo de control de una línea de producción obteniendo un 700% de aumento de producción.",
    ],
  },
  {
    position: "Programador Junior",
    company: "G-Flow S. A.",
    date: "[10.2007 - 09.2009]",
    tasks: [
      "Desarrollo de software de PLC y desarrollo UX/UI en HMI para Ford, Volkswagen y Toyota.",
      "Stack tecnológico: Rockwell Automation.",
      "Elaboré librerías de componentes de PLC.",
    ],
  },
];
---

<Section id="experiencia" class="py-16">
  <div class="flex items-center gap-x-2">
    <IconExperience class="flex-shrink-0 size-6 sm:size-8" />
    <h2 class="text-2xl sm:text-3xl">Experiencia frontend</h2>
  </div>

  {
    FRONTEND_WORKS.map((work) => {
      const alt = `Captura de pantalla de la web de ${work.company}`;

      return (
        <article class="my-10 flex flex-col md:flex-row items-start gap-6 p-4 sm:p-6 bg-gray-900/60 border border-gray-700 rounded-md">
          <div class="flex flex-col gap-4">
            <h3 class="text-lg text-green-500">{work.position}</h3>
            <h4 class="text-sm w-fit border rounded-xl border-gray-700 px-2 py-1">{work.company}</h4>
            <span class="text-sm border-b border-gray-700 pb-4">{work.date}</span>
            <p class="pt-1" set:html={work.description} />
            {work.descriptionImg && (
              <img
                class="w-[160px] sm:w-[200px] h-auto rounded-md"
                src={work.descriptionImg}
                alt={work.descriptionImgAlt}
              />
            )}
            <ul class="flex flex-wrap gap-2">
              {work.tags.map((tag) => (
                <li class="flex gap-2 items-center px-3 py-1 bg-gray-800 text-gray-200 rounded-xl text-sm sm:text-base">
                  <tag.icon class="w-3 sm:w-4 h-auto" /> {tag.name}
                </li>
              ))}
            </ul>
          </div>

          <div class="flex-shrink-0">
            <img
              class="w-full md:w-[320px] min-[850px]:w-[400px] lg:w-[500px] h-auto aspect-video rounded-md"
              src={work.thumbnail}
              alt={alt}
            />
            <ul class="flex flex-wrap gap-4 mt-4">
              <li>
                <Pill href={work.repository} ariaLabel="Ir al repositorio de GitHub">
                  <IconGithubRepo class="size-4" />
                  <span>Repositorio</span>
                </Pill>
              </li>
              <li>
                <Pill href={work.deploy} ariaLabel="Visitar la web">
                  <IconLink class="size-4" />
                  <span>Web</span>
                </Pill>
              </li>
            </ul>
          </div>
        </article>
      );
    })
  }

  <div class="flex items-center gap-x-2 pt-10">
    <IconExperienceInd class="flex-shrink-0 size-6 sm:size-8" />
    <h2 class="text-2xl sm:text-3xl">Experiencia industrial</h2>
  </div>
  {INDUSTRIAL_WORKS.map((work) => <ExperienceInd work={work} />)}
</Section>
